$fonts-path: "./../assets/fonts/";

@font-face {
  font-family: 'Flanders Art Serif';
  src: url("#{$fonts-path}/FlandersArtSerif-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Flanders Art Serif';
  src: url("#{$fonts-path}/FlandersArtSerif-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'Flanders Art Serif';
  src: url("#{$fonts-path}/FlandersArtSerif-Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: 'ARS Maquette Pro';
  src: url("#{$fonts-path}/ARSMaquettePro-Regular.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'ARS Maquette Pro';
  src: url("#{$fonts-path}/ARSMaquettePro-Bold.woff2") format("woff2");
  font-weight: bold;
}

h1{
  font-family: 'Flanders Art Serif';
  font-size: 58px;
  line-height: 69px;
  letter-spacing: 0;
  margin-bottom: 130px;
}

h2{
  font-family: 'Flanders Art Serif';
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
}

.tag{
  display: inline-block;
  font-family: 'Flanders Art Serif';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  background: $black padding-box;
  padding: 0.3em;
  color: $white;
}

.foreword{
  font-family: 'Flanders Art Serif';
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 90px;
}

.context{
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 60px;
}

.dilemma, .price{
  font-family: 'ARS Maquette Pro';
  font-size: 18px;
  text-align: center;
}

.price{
  font-weight: bold;
}

.total-questions{
  font-family: 'ARS Maquette Pro';
  font-size: 16px;
  color: $grey;
  text-align: right;
}

p{
  font-family: 'ARS Maquette Pro';
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  &.selected{
    font-weight: bold;
  }
}

#quote{
  font-family: 'Georgia';
  font-style: italic;
  font-size: 20px;
}